.nav {
  display: flex;
  gap: 20px;
}
.nav_link {
  background-color: rgb(35, 189, 250);
  padding: 15px;
  color: black;
  border-radius: 10px;
}

.nav_link:hover {
  background-color: rgb(221, 231, 231);
  color: black;
}
