.list {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: rgb(199, 235, 255);
  border-radius: 5px;
  gap: 16px;
  padding: 20px;
}

.list_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.icon {
  color: blue;
  margin-right: 12px;
}

.list_text p {
  text-align: left;
  font-size: 20px;
}
