.form_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.label_login {
  display: flex;
  flex-direction: column;
}

.label_login span {
  text-align: left;
}

.input_login {
  padding: 10px;
}
